$d-color:black;
$s-color:green;
$e-color:red;

$n-size:10px;
$m-size:20px;
$l-size:30px;


$Dfont-size:16px;


@mixin makeRoundColor($color){
    @if $color ==default{
    border-color:$d-color;
}
    @if $color ==success{
    border-color:$s-color;
}
@if $color ==error{
    border-color:$e-color;
}
}

@mixin makeRoundSize($size){
    @if $size == normal{
        -webkit-border-radius: $n-size;
        -moz-border-radius: $n-size;
        border-radius: $n-size;
    }
    @if $size == medium{
        -webkit-border-radius: $m-size;
        -moz-border-radius: $m-size;
        border-radius: $m-size;
    }
    @if $size == large{
        -webkit-border-radius: $l-size;
        -moz-border-radius: $l-size;
        border-radius: $l-size;
    }

}

@mixin makeRoundFont($font){
    @if $font == default{
        font-size:$Dfont-size;
    }
}
/* For display default cintent */
.label-default{
    @include makeRoundFont(default);
    @include makeRoundColor(default);
    }

 .box-default{
    @include makeRoundSize(normal);
    @include makeRoundColor(default);
 }   

 .box-default-medium{
     @include makeRoundSize(medium);
     @include makeRoundColor(default);
 }

 .box-default-large{
     @include makeRoundSize(large);
     @include makeRoundColor(default);
 }

 /* For display success content*/
 .label-success{
     @include makeRoundFont(default);
     @include makeRoundColor(success);
 }
 .box-success{
    @include makeRoundSize(normal);
    @include makeRoundColor(success);
 }
 .box-success-medium{
     @include makeRoundSize(medium);
     @include makeRoundColor(success);

 }
  .box-success-large{
      @include makeRoundSize(large);
    @include makeRoundColor(success);
  }

  /*For display error content*/

  .label-error{
      @include makeRoundFont(default);
      @include makeRoundColor(error);
  }
  .box-error{
    @include makeRoundSize(normal);
    @include makeRoundColor(error);
}
.box-error-medium{
@include makeRoundSize(medium);
@include makeRoundColor(error);
}
.box-error-large{
    @include makeRoundSize(large);
    @include makeRoundColor(error);
}