/* For display default cintent */
.label-default {
  font-size: 16px;
  border-color: black; }

.box-default {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: black; }

.box-default-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: black; }

.box-default-large {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: black; }

/* For display success content*/
.label-success {
  font-size: 16px;
  border-color: green; }

.box-success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: green; }

.box-success-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: green; }

.box-success-large {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: green; }

/*For display error content*/
.label-error {
  font-size: 16px;
  border-color: red; }

.box-error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: red; }

.box-error-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: red; }

.box-error-large {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: red; }

/*# sourceMappingURL=exam4.css.map */
